{{ partial "header" . }}
<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-2">{{ .Title }}</h2>
    <h5 class="title is-5">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>
    {{ partial "tags" . }}
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop has-text-left">{{ .Content }}</div>
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
    {{ if $related }}
        <h4 class="title is-4">Related</h4>
        {{ range $related }} {{ partial "list-item" . }} {{ end }}
    {{ end }}
</section>
{{ partial "footer" . }}
