<div class="container is-max-desktop has-text-centered content">
    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}
    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subheader" }}
    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}
    <a class="is-size-4" href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></br>
    {{ $.Scratch.Get "subheader" }}<br/>
    {{ partial "tags" . }}
</div>
